<div class="row">
  <div class="col-xs-6">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h2> <%= @recipe.name %> <small> <%= @recipe.type.name %> </small> </h2>
     </div>
     <div class="panel-body">
       <button type="button" class="btn edit">Edit</button>
       <h3>Ingredients:</h3>
       <% if @recipe.ingredients.any? %>
          <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <li> <%= ingredient.name %> </li>
          </ul>
          <% end %>
       <% end %>
       <div class="edit-ingredients">
         <form class="" action="/update_ingredients/<%= @recipe.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="patch">
            <input type="text" name="add_ingredients" class="form-control">
            <button type="submit" class="btn">Update</button>
          </div>
         </form>
         <form class="" action="/delete_ingredients/<%= @recipe.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete">
            <input type="text" name="delete_ingredients" class="form-control">
            <button type="submit" class="btn">Delete</button>
          </div>
         </form>
       </div>
     </div>
   </div>
  </div>
  <div class="col-xs-6">
    <div class="well">
      <%= @recipe.instructions %>
    </div>
  </div>
</div>

<footer>
  <a href="/"><button type="button" name="button" class="btn">Home</button></a>
  <a href="/recipe_list"><button type="button" name="button" class="btn">Recipes</button></a>
</footer>
