<script type="text/javascript">(function(d, t, e, m){

    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){

        RW.init({
            huid: "376181",
            uid: "015a90b42294b238f54ce633a7dc2aaa",
            options: { "style": "oxygen" }
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() +
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>


<div class="row">
  <div class="col-xs-6">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h2> <%= @recipe.name %> <div class="rw-ui-container"></div> </h2>
     </div>
     <div class="panel-body">
       <button type="button" class="btn edit">Edit</button>
       <h3>Ingredients:</h3>
       <% if @recipe.ingredients.any? %>
          <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <li> <%= ingredient.name %> </li>
          </ul>
          <% end %>
       <% end %>
       <div class="edit-ingredients hide">
         <form class="" action="/update_ingredients/<%= @recipe.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="patch">
            <input type="text" name="add_ingredients" class="form-control">
            <button type="submit" class="btn">Add Ingredient</button>
          </div>
         </form>

         <form class="" action="/delete_ingredients/<%= @recipe.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete">
            <input type="text" name="delete_ingredients" class="form-control">
            <button type="submit" class="btn">Delete Ingredient</button>
          </div>
         </form>

       </div>
     </div>
   </div>
  </div>
  <div class="col-xs-6">
    <div class="well">
      <%= @recipe.instructions %>
    </div>
  </div>
</div>

<footer>
  <a href="/"><button type="button" name="button" class="btn">Home</button></a>
  <a href="/recipe_list"><button type="button" name="button" class="btn">Recipes</button></a>
</footer>
