<div class='movie_choice'>
    <p>Rate this recipe</p>
    <div id="r1" class="rate_widget">
        <div class="star_1 ratings_stars"></div>
        <div class="star_2 ratings_stars"></div>
        <div class="star_3 ratings_stars"></div>
        <div class="star_4 ratings_stars"></div>
        <div class="star_5 ratings_stars"></div>
        <div class="total_votes">vote data</div>
    </div>
</div>

<div class="row">
  <div class="col-xs-6">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h2> <%= @recipe.name %>  </h2>
     </div>
     <div class="panel-body">
       <button type="button" class="btn edit">Edit</button>
       <h3>Ingredients:</h3>
       <% if @recipe.ingredients.any? %>
          <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <li> <%= ingredient.name %> </li>
          </ul>
          <% end %>
       <% end %>
       <div class="edit-ingredients hide">
         <form class="" action="/update_ingredients/<%= @recipe.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="patch">
            <input type="text" name="add_ingredients" class="form-control">
            <button type="submit" class="btn">Add Ingredient</button>
          </div>
         </form>

         <form class="" action="/delete_ingredients/<%= @recipe.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete">
            <input type="text" name="delete_ingredients" class="form-control">
            <button type="submit" class="btn">Delete Ingredient</button>
          </div>
         </form>

         <form class="" action="/add_tag" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="patch">
            <input type="text" name="add_tag" class="form-control">
            <button type="submit" class="btn">Add Tag</button>
          </div>
         </form>

       </div>
     </div>
     <div class="panel-footer">
       <h4>Tags: tag1, tag2, etc.</h4>
     </div>
   </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
         <h4>Instructions</h4>
      </div>
      <div class="panel-body">
        <%= @recipe.instructions %>
      </div>
    </div>
  </div>
</div>

<footer>
  <a href="/"><button type="button" name="button" class="btn">Home</button></a>
  <a href="/recipe_list"><button type="button" name="button" class="btn">Recipes</button></a>
</footer>
